body{
	text-align:	center;
	background-color: #101010;
	font-family: Consolas, Arial;
	color: #F2F2F2;
	z-index: 0;
	font-size: 20px;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: #3996ff;
}

a:active {
	color: #80bcff;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

h3{
	font-size: 25px;
}

#sommaireUl {
	text-align: left;
	margin-top: -20px;
	display: grid;
	grid-template-columns: auto auto auto;
}

#bSommaire {
	min-width: 200px;
	border-style: solid;
	border-radius: 10px;
	border-color: black;
	border-width: 5px;
	padding: 10px;
	margin: 10px;
	text-align:center;
}

#bSommaire:active {
	border-color: #090909;
}

iframe {
	width: 320;
	height: 180;
	transition-property: width, height;
	transition-duration: 0.5s;
}

iframe:hover {
	width: 640;
	height: 360;
	transition-property: width, height;
	transition-duration: 0.5s;
}

.imgSquare {
	text-align: left;
	float: left;
	position: absolute;
}

#imgAcceuil, #imgAcceuilHome {
	opacity: 1;
	width: 75px;
	height: 75px;
	border-radius: 20px;
	position: absolute;
	transition-property: opacity;
	transition-duration: 0.5s;
}

#imgAcceuil:hover {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.blackSquare {
	width: 100%;
	color:white;
	background-color: black;
	padding:3px;
	margin-bottom: 10px;
	
	top: 0;
	padding: 5px;
	position: sticky;
}

.sommaire {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.Espace {
	margin: 35px;
}

#discord {
	width: 330px;
	margin-bottom: 10px;
	transition-property: width;
    transition-duration: 0.5s;
}

#discord:hover {
    width: 350px;
    transition-property: width;
    transition-duration: 0.5s;
}