body {
    cursor: url("./cursors/cursor.svg"), auto;
    background-color: #222;
    color: #CCC;
}

header, footer {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    background-color: black;
}

header {
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
}

a:hover,
input[type='button']:hover {
    cursor: url("./cursors/cursor_hover.svg"), pointer;
}

input[type='text']:hover,
input[type='email']:hover,
input[type='number']:hover,
input[type='password']:hover,
input[type='search']:hover,
input[type='tel']:hover,
input[type='name']:hover,
input[type='url']:hover {
    cursor: url("./cursors/cursor_text.svg"), text;
}

*:disabled:hover {
    cursor: url("./cursors/cursor_disabled.svg"), disabled;
}

#homebutton {
    float: left;
}

#en {
    float: right;
}

#homebutton img {
    filter: invert(30%);
    height: 30px;
    transition-property: height, filter;
    transition-duration: 0.5s;
}

#homebutton img:hover {
    filter: invert(50%);
    height: 35px;
    transition-property: height, filter;
    transition-duration: 1.5s;
}

#en img {
    height: 30px;
    transition-property: height;
    transition-duration: 0.5s;
}

#en img:hover {
    height: 35px;
    transition-property: height;
    transition-duration: 1.5s;
}

.liens {
    position: relative;
}

.liens ul {
    padding-inline: 0;
}

.liens ul li {
    list-style: none;
    min-height: 50px;
    vertical-align: top;
    margin-inline: 3px;
    display: inline-block;
}

.liens ul li img,
input[type="image"],
.icon {
    filter: invert(70%);
    width: 30px;
    transition-property: width, filter;
    transition-duration: 1s;
}

.liens ul li:hover img,
input[type="image"]:hover,
.icon:hover {
    filter: invert(1);
    width: 40px;
    transition-property: width, filter;
    transition-duration: 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    height: 0;
    background-color: #1F1F1F;
    min-width: 160px;
    box-shadow: 2px 2px 16px 0px rgba(255, 255, 255, 0.2);
    transition-property: height;
    transition-duration: 0.5s;
    width: fit-content;
}

.dropdown:hover .dropdown-content {
    display: grid;
    height: fit-content;
    transition-property: height;
    transition-duration: 0.5s;
}

.dropdown-content>* {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    height: 40px;
    width: max-content;
    padding: 5px 10px;
    border: 1px solid #555;
}

.dropdown-content>*:hover {
    background-color: #252525
}

#aboutme-div {
    margin: 0 auto;
    width: fit-content;
}

#aboutme-div ul li {
    text-align: left;
}

#projects-timeline {
    overflow: auto;
    white-space: nowrap;
    width: inherit;
    right: 0;
}

#projects-timeline::-webkit-scrollbar {
    height: 10px;
}

#projects-timeline::-webkit-scrollbar-track {
    background: transparent;
}

#projects-timeline::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 25%;
    margin: 3px;
}

.project-div {
    display: inline-block;
    width: 20%;
    height: 150px;
    border-radius: 25px;
    background-color: #666;
    margin: 10px 3px;
    padding: 10px;
}

.project-div > a { color: #CCC; }
.project-div > a:hover { color: #BBB; }

#anecdote-div {
    width: 70%;
    height: auto;
    border-radius: 25px;
    background-color: #555;
    margin: 10px auto;
    padding: 10px;
}

#refresh {
    float: right;
    position: relative;
    margin: 20px;
}

#anecdote-emoji,
#anecdote-text {
    display: inline;
    color: white;
    font-size: auto;
    transition-property: font-size;
    transition-duration: 0.5s;
}

#anecdote-text {
    width: auto;
}

#anecdote-text:hover {
    font-size: auto + 5%;
    transition-property: font-size;
    transition-duration: 0.5s;
}

#anecdote-en_savoir_plus {
    float: right;
    text-decoration: underline;
    font-weight: bold;
    color: cornflowerblue;
    margin: 5px;
}