body{
	font-family:calibri;
	background-image: url("fond.jpg");
}

#buttons {
	text-align:center;
	background-color:#4CAF50;
	background-image: url("chiffres.jpg");
	margin-top:330px;
	border-style:outset;
	border-radius:30px
}

button {
	font-size:75px;
	margin:10px;
	margin-bottom:40px;
	margin-top:40px;
	padding-left:30px;
	padding-right:30px;
}

#question {
	text-align:center;
	font-size:40px;
	margin:10px
}

#reponse {
	margin-top:50px;
	opacity:0.5;
	text-align:center;
	font-size:40px;
}