@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: "Red Hat Display", Sans-serif;
    text-align: center;
}

header {
    z-index: 1;
    /* position: fixed; */
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 30px;
}

body {
    margin: 0 auto;
    max-width: 100%;
}

body > section {
    max-width: 80%;
    margin-inline: auto;
}
/* 
div {
    padding: 0%;
    border: 1;
} */

h1 {
    font-size: 250%;
}