body>header {
    background-color: #777;
    margin-bottom: 50px;
    padding: 20px;
}

.gcse-search {
    background-color: transparent;
}

.lien {
    font-size: 100%;
    transition-property: font-size;
    transition-duration: 0.5s;
}

.lien:hover {
    font-size: 130%;
    transition-property: font-size;
    transition-duration: 1.5s;
}